@media only screen and (max-width: 600px) {
    .box {
        max-width: 50vw !important;
    }
    .buttons {
        left: 22vw !important;
        margin-top: 10%;
        width: 55vw !important;
    }
  }

.box{
    height: 50vh;
    width: 300px;
    max-width: 20vw;
    padding: 20px;
    position: relative;
    background-position: center;
    background-size: cover;
}
.container {
    margin-top: 12vh;
    display: flex;
    justify-content: center;
    position: relative;
}
.card {
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.card .title {
    display: inline-block;
    width: 100%;
    left: 0;
    height: 50px;
    position: absolute;
    bottom: 52vh;
    text-align: center;
    word-wrap: break-word;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-top: 20px;
}
.summary {
    position: relative;
    padding-left: 20px;
}
.buttons {
    z-index: 20;
    position: absolute;
    left: 42vw;
    top: 62vh;
    width: 16vw;
    display: flex;
    justify-content: space-between;
}
button {
    background: none;
    border: 1px solid black;
    padding: 10px 15px;
    cursor: pointer;
}
